@font-face
  font-family: 'Lemonmilk'
  src: url('../fonts/lemonmilk/lemonmilk-bold.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilk-bold.woff') format('woff')
  font-weight: $weight-bold
  font-style: normal

@font-face
  font-family: 'Lemonmilk'
  src: url('../fonts/lemonmilk/lemonmilk-medium.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilk-medium.woff') format('woff')
  font-weight: $weight-semibold
  font-style: normal

@font-face
  font-family: 'Lemonmilk'
  src: url('../fonts/lemonmilk/lemonmilk-regular.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilk-regular.woff') format('woff')
  font-weight: $weight-normal
  font-style: normal

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli.woff2') format('woff2'), url('../fonts/muli/muli.woff') format('woff')
  font-weight: $weight-normal
  font-style: normal

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli-italic.woff2') format('woff2'), url('../fonts/muli/muli-italic.woff') format('woff')
  font-weight: $weight-normal
  font-style: italic

//@font-face
//  font-family: 'Muli'
//  src: url('../fonts/muli/muli-extralight.woff2') format('woff2'), url('../fonts/muli/muli-extralight.woff') format('woff')
//  font-weight: $weight-light
//  font-style: normal
//
//@font-face
//  font-family: 'Muli'
//  src: url('../fonts/muli/muli-extralightitalic.woff2') format('woff2'), url('../fonts/muli/muli-extralightitalic.woff') format('woff')
//  font-weight: $weight-light
//  font-style: italic

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli-light.woff2') format('woff2'), url('../fonts/muli/muli-light.woff') format('woff')
  font-weight: $weight-light
  font-style: normal

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli-lightitalic.woff2') format('woff2'), url('../fonts/muli/muli-lightitalic.woff') format('woff')
  font-weight: $weight-light
  font-style: italic

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli.woff2') format('woff2'), url('../fonts/muli/muli.woff') format('woff')
  font-weight: $weight-normal
  font-style: normal

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli-italic.woff2') format('woff2'), url('../fonts/muli/muli-italic.woff') format('woff')
  font-weight: $weight-normal
  font-style: italic

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli-semibold.woff2') format('woff2'), url('../fonts/muli/muli-semibold.woff') format('woff')
  font-weight: $weight-semibold
  font-style: normal

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli-semi-bolditalic.woff2') format('woff2'), url('../fonts/muli/muli-semi-bolditalic.woff') format('woff')
  font-weight: $weight-semibold
  font-style: italic

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli-bold.woff2') format('woff2'), url('../fonts/muli/muli-bold.woff') format('woff')
  font-weight: $weight-bold
  font-style: normal

@font-face
  font-family: 'Muli'
  src: url('../fonts/muli/muli-bolditalic.woff2') format('woff2'), url('../fonts/muli/muli-bolditalic.woff') format('woff')
  font-weight: $weight-bold
  font-style: italic
