@import 'responsive'

=font-lemonmilk
  font-family: $font-family-lemonmilk
  text-transform: uppercase
  letter-spacing: .2em

=no-select
  user-select: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none

.cwa-grid-item
  display: block
  position: relative
  background: $cwa-grid-item-background
  border: 1px solid $cwa-grid-item-border-color
  color: $cwa-color-text-light
  p
    margin: 0
    &.title
      font-size: 2rem
    &.subtitle
      font-size: .8em
      font-weight: $font-weight-light
  > a
    display: block
    padding: 2rem
    &:hover,
    &:focus
      color: $white
      &:after
        o§pacity: 1
// forgot the ayntac for the class also having a specific html tag - merge with > a above
a.cwa-grid-item
  padding: 2rem
  &:hover,
  &:focus
    color: $white
    &:after
      opacity: 1
