=cwa-input-style
  label,
  .label
    +cwa-input-label
  input[type=text],
  input[type=password],
  select,
  textarea
    +cwa-input
  textarea
    +cwa-textarea
  .select
    +cwa-select-holder
    margin-bottom: 1.5rem
  &.has-error
    input[type=text],
    select
      border-color: $cwa-danger

.cwa-input
  +cwa-input-style
  &:last-child
    input,
    textarea,
    .select
      margin-bottom: 0
