=cwa-input-style
  label,
  .label
    color: $cwa-color-text-light
    font-weight: $font-weight-light
    opacity: .6
  input[type=text],
  select
    border: none
    background-color: rgba(black, .3)
    color: $cwa-color-text-light
    padding: .2rem 3.8rem .3rem 1.0rem
    height: 3.4rem
    font-size: 1.4rem
    &:hover
      color: $white
    &::placeholder
      color: rgba($cwa-color-text-light, .6)
  .select
    position: relative
    &:hover
      &::before
        opacity: 1
    select
      background-image: none
      margin: 0
    &::before
      content: ''
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: 3.5rem
      background: url("../images/icon-dropdown.svg") 50% 50% no-repeat
      opacity: .6
      pointer-events: none

.cwa-input
  +cwa-input-style
  &:last-child
    input
      margin-bottom: 0
