.login-form
  label
    color: $cwa-color-text-light
    letter-spacing: .08em
  input
    height: 3em
    border: 0
    &::placeholder
      font-style: italic
      color: $cwa-color-text-light
  button
    margin-top: 1rem
    color: $cwa-background-dark
    font-size: 1.2rem
    height: 3em
    padding: 0 1.5rem
    font-weight: $weight-bold
    .icon
      align-items: center
      display: inline-flex
      justify-content: center
      margin-left: .35em
      margin-right: calc(-.5em - 1px)
      svg
        width: 1em
  .login-nav
    margin-top: 2rem
    padding-top: 1rem
    justify-content: space-between
    width: 100%
    a
      display: inline-block
      padding: 1rem 0
      &:not(:hover)
        opacity: .6
    +mobile
      font-size: 1.4rem
      flex-direction: column-reverse
