{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/essential",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "vue/no-v-html": 0,
    "vue/custom-event-name-casing": ["error", {
      "ignores": ["/^cwa:[a-z]+(?:-[a-z]+)*:[a-z]+(?:-[a-z]+)*$/u"]
    }]
  }
}
