{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "overrides": [
    {
      "files": [
        "src/runtime/templates/components/**/*.vue",
        "playground/cwa/**/*.vue",
        "src/layer/**/*.vue",
        "**/*.ts",
        "**/*.js",
        "**/*.vue"
      ],
      "rules": {
        "vue/multi-word-component-names": "off",
        "vue/no-multiple-template-root": "off"
      }
    }
  ]
}
