## This has been modified from the API Platform template implementation
## More specifically from https://github.com/dunglas/demo-vulcain-api-platform
version: '3.8'

services:
  app:
    build:
      context: .
    restart: unless-stopped
    volumes:
      - ./:/app:rw,cached
    environment:
      NODE_ENV: ~
      LOCAL_TLS: ~
      NODE_TLS_REJECT_UNAUTHORIZED: ~
      API_URL: https://api.cwa.local:8443
      API_URL_BROWSER: https://localhost:8443
      HOST: 0.0.0.0
    ports:
      - "3000:3000"
