$cwa-success: #9CDD05
$cwa-danger: #E30A6C
$cwa-warning: #FFAA00
$cwa-navbar-background: #212121 !default

$color-text-light: #b1b1b1 !default
$background-light: #F4F3F3 !default
$background-dark: #292929 !default
$white: #fff !default

$color-initial: $white !default
$color-primary: $cwa-danger !default
$color-secondary: $cwa-warning !default
$color-tertiary: $background-light !default
$color-quaternary: $color-text-light !default
$color-quinary: #e1e1e1 !default

$color-warning: $cwa-warning !default
$color-danger: $cwa-danger !default
$color-success: $cwa-success !default

$link-color: $color-primary !default
$link-color-hover: #212121 !default

$html-background: $color-primary !default
$body-background: $background-light !default
