$color-text-light: #b1b1b1 !default
$background-light: #F4F3F3 !default
$background-dark: #1b1b1b !default
$white: #fff !default

$color-initial: $white !default
$color-primary: #9b4dca !default
$color-secondary: $background-dark !default
$color-tertiary: $background-light !default
$color-quaternary: $color-text-light !default
$color-quinary: #e1e1e1 !default

$color-warning: hsl(48, 100%, 67%) !default
$color-danger: hsl(348, 100%, 61%) !default
$color-success: hsl(141, 53%, 53%) !default
