@import "vars"
@import "~bulma/sass/utilities/controls"

$cwa-control-height: $control-height !default
$cwa-control-font-size: $size-6 !default
$cwa-control-color: $cwa-color-text-light !default
$cwa-control-background-color: #363636 !default
$cwa-control-background-hover-color: lighten($cwa-control-background-color, 5%) !default
$cwa-control-border: 1px solid $cwa-control-background-color !default
$cwa-control-shadow: 0 0 8px 0 rgba(black, .15) !default
$cwa-button-padding: 0 1.5rem !default

=font-lemonmilk
  font-family: $font-family-lemonmilk
  text-transform: uppercase
  letter-spacing: .2em

=no-select
  user-select: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none

=cwa-control
  box-shadow: $cwa-control-shadow
  border: $cwa-control-border
  background-color: $cwa-control-background-color
  background-clip: padding-box
  color: $cwa-control-color
  //height: $cwa-control-height
  font-size: $cwa-control-font-size

=cwa-button
  +cwa-control
  font-weight: $weight-semibold
  padding: $cwa-button-padding
  &:hover,
  &:focus
    border: $cwa-control-border
    border-color: $cwa-control-background-hover-color
    &:not(:disabled)
      background: $cwa-control-background-hover-color
      color: $white
    &:disabled
      pointer-events: none
  &:not(:first-child)
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &:not(:last-child)
    border-top-right-radius: 0
    border-bottom-right-radius: 0

=cwa-input-label
  color: $cwa-color-text-light
  font-weight: $weight-normal
  opacity: .8
  margin-bottom: .25rem

=cwa-input
  +cwa-control
  padding: .2rem 2rem .3rem 1rem
  &:hover:not(:disabled)
    color: $white
  &::placeholder
    color: rgba($cwa-color-text-light, .6)
  &[type=number]
    -moz-appearance: textfield
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

=cwa-textarea
  padding: .5rem 3.8rem .8rem 1.0rem
  resize: none
  height: 5em

=cwa-select-holder
  position: relative
  &:hover:not(:disabled)
    &::before
      opacity: 1
    &::after
      border-color: $white !important
  select
    background-image: none
    margin: 0
  &::after
    border-color: $cwa-color-text-light !important

=cwa-input-style
  label,
  .label
    +cwa-input-label
  input[type=text],
  input[type=password],
  select,
  textarea
    +cwa-input
  textarea
    +cwa-textarea
  .select
    +cwa-select-holder
  &.has-error
    input[type=text],
    select
      border-color: $cwa-danger
