$font-weight-extra-light: 200 !default
$font-weight-light: 300 !default
$font-weight-normal: 400 !default
$font-weight-semi-bold: 500 !default
$font-weight-bold: 700 !default

$base-font-size: .65rem !default
$body-font-weight: $font-weight-normal !default
$body-color: $cwa-navbar-background
$link-font-weight: inherit !default

$font-family-muli: 'Muli', sans-serif
$font-family-lemonmilk: 'Lemonmilk', sans-serif
$cwa-font-family: $font-family-muli !default
$font-family: $cwa-font-family !default

$size-h2: 2.8rem
$size-h3: 1.8rem
